# Ignore Python virtual environments
.venv/
venv/

# Ignore environment variable files
.env
.env.*

# VS Code settings
.vscode/

# Python bytecode
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# dataset folder
dataset/

# reviews.ipynb
reviews.ipynb